.feedback {
    h2 {
        color: $main_color;
    }
    .form-group {
        input {
            max-width: 65%;
            @include nanoSmall {
                max-width: 100%;
            }
            @include extraSmall {
                max-width: 100%;
            }
        }
        .btn-main {
            color: $white_color;
            background-color: $main_color;
        }
    }
}