.fifth {
    h2 {
        color: $main_color;
    }
    .elig {
        padding: 20px;
        background-color: #5c63b0;
        color: $white_color;
        h2 {
            color: $white_color;
        }
        p {
            font-size: 14px;
        }
    }
}