#myFooter {
    background-color: $main_color;
    padding: 20px;
    color: white;
    .logo {
        img {
            max-width: 350px;
        }
    }
    a {
        color: $white_color;
    }
}