.fourth {
    h2 {
        color: $main_color;
        @include nanoSmall {
            font-size: 20px;
        }
        @include extraSmall {
            font-size: 20px;
        }
    }
}

.program {
    padding: 20px;
    background-color: #5c63b0;
    color: $white_color;
    h2 {
        color: $white_color;
        @include nanoSmall {
            font-size: 20px;
        }
        @include extraSmall {
            font-size: 20px;
        }
    }
    p {
        font-size: 14px;
    }
}