header {
    height: auto;
    .logo {
        margin-top: 20px;
        max-width: 600px;
        max-height: 350px;
    }
    .header-list {
        ul {
            float: right;
            list-style-type: none;
            color: $white_color;
            font-size: 12px;
            display: inline-flex;
            li {
                a {
                    color: $white_color;
                    padding-right: 20px;
                }
            }
        }
    }
}

#back {
    background-image: url(../images/back.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -999999;
}