header {
    height: auto;
    .logo {
        max-width: 500px;
        max-height: 250px;
    }
    .header-list {
        ul {
            margin-top: 50px;
            float: right;
            list-style-type: none;
            color: #fff;
            font-size: 12px;
            display: inline-flex;
            li {
                a {
                    padding-right: 20px;
                }
            }
        }
    }
}

#back {
    background-image: url(../images/back.svg);
    background-repeat: no-repeat;
    background-size: cover;
}