header {
    background-color: #4e018f;
    height: auto;
    .logo {
        max-width: 200px;
        max-height: 100px;
    }
    .header-list {
        ul {
            margin-top: 50px;
            float: right;
            list-style-type: none;
            color: #fff;
            font-size: 12px;
            display: inline-flex;
            li {
                a {
                    padding-right: 20px;
                }
            }
        }
    }
}