.seventh {
    h2 {
        color: $main_color;
        @include nanoSmall {
            font-size: 20px;
        }
        @include extraSmall {
            font-size: 20px;
        }
    }
    .addmission {
        padding: 20px;
        background-color: #5c63b0;
        color: $white_color;
        h2 {
            color: $white_color;
        }
        p {
            font-size: 14px;
        }
        a {
            color: yellow;
        }
        ul {
            li {
                font-size: 14px;
            }
        }
    }
}