.sixth {
    h2 {
        color: $main_color;
    }
    .who {
        padding: 20px;
        background-color: #5c63b0;
        color: $white_color;
        p {
            font-size: 14px;
            color: $white_color;
        }
        ul {
            li {
                font-size: 14px;
                color: $white_color;
            }
        }
    }
}