.top {
    img {
        width: 100%;
        background-color: rgba(78, 1, 143, 0.7);
        background: linear-gradient(rgba(78, 1, 143, 0.7));
        @include nanoSmall {
            width: 80%;
        }
        @include extraSmall {
            width: 70%;
        }
        @include medium {
            width: 60%;
        }
        @include large {
            width: 100%;
        }
        @include extraLarge {
            width: 100%;
        }
    }
    .box {
        position: relative;
        display: inline-block;
        justify-content: center;
        .text {
            background-color: transparent;
            position: absolute;
            z-index: 999;
            margin: 0 auto;
            float: right;
            right: 8%;
            top: 9%;
            /* Adjust this value to move the positioned div up and down */
            text-align: right;
            /* Set the width of the positioned div */
            h2 {
                color: $white_color;
                @include nanoSmall {
                    font-size: 40%;
                }
                @include extraSmall {
                    font-size: 45%;
                }
            }
        }
    }
    .navbar {
        font-size: 16px;
        text-align: center;
        .navbar-nav {
            a {
                color: $main_color;
                text-align: center;
                padding-right: 20px;
            }
        }
    }
}