/* Extra small devices (phones, 600px and down) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.top img {
  width: 100%;
  background-color: rgba(78, 1, 143, 0.7);
  background: linear-gradient(rgba(78, 1, 143, 0.7)); }
  @media only screen and (max-width: 320px) {
    .top img {
      width: 80%; } }
  @media only screen and (max-width: 576px) {
    .top img {
      width: 70%; } }
  @media only screen and (max-width: 768px) {
    .top img {
      width: 60%; } }
  @media only screen and (max-width: 992px) {
    .top img {
      width: 100%; } }
  @media only screen and (max-width: 1200px) {
    .top img {
      width: 100%; } }
.top .box {
  position: relative;
  display: inline-block;
  justify-content: center; }
  .top .box .text {
    background-color: transparent;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    float: right;
    right: 8%;
    top: 9%;
    /* Adjust this value to move the positioned div up and down */
    text-align: right;
    /* Set the width of the positioned div */ }
    .top .box .text h2 {
      color: #fff; }
      @media only screen and (max-width: 320px) {
        .top .box .text h2 {
          font-size: 40%; } }
      @media only screen and (max-width: 576px) {
        .top .box .text h2 {
          font-size: 45%; } }
.top .navbar {
  font-size: 16px;
  text-align: center; }
  .top .navbar .navbar-nav a {
    color: #4e018f;
    text-align: center;
    padding-right: 20px; }

header {
  height: auto; }
  header .logo {
    margin-top: 20px;
    max-width: 600px;
    max-height: 350px; }
  header .header-list ul {
    float: right;
    list-style-type: none;
    color: #fff;
    font-size: 12px;
    display: inline-flex; }
    header .header-list ul li a {
      color: #fff;
      padding-right: 20px; }

#back {
  background-image: url(../images/back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -999999; }

#pageloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  z-index: 999999; }

.loader {
  position: absolute;
  width: auto;
  height: auto;
  margin: -20px 0 0 -20px;
  top: 50%;
  right: 100px;
  left: 100px;
  bottom: 50%;
  justify-content: center;
  text-align: center; }

.scrollup {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  display: none;
  background-color: #000;
  text-align: center;
  z-index: 200; }
  .scrollup i {
    color: #fff;
    font-size: 15px;
    display: block;
    line-height: 33px; }
  .scrollup :hover {
    background: rgba(139, 164, 189, 0.6); }

.v-divider {
  margin-left: 5px;
  margin-right: 5px;
  width: 1px;
  height: 100%;
  border-right: 2px solid #fff;
  float: right; }
  @media only screen and (max-width: 320px) {
    .v-divider {
      display: none; } }
  @media only screen and (max-width: 576px) {
    .v-divider {
      display: none; } }

.second-section img {
  max-width: 100%;
  max-height: 100%;
  padding-top: 10px; }
  @media only screen and (max-width: 320px) {
    .second-section img {
      width: 70%; } }
  @media only screen and (max-width: 576px) {
    .second-section img {
      width: 70%; } }
  @media only screen and (max-width: 768px) {
    .second-section img {
      width: 60%; } }
  @media only screen and (max-width: 992px) {
    .second-section img {
      width: -webkit-fill-available; } }
  @media only screen and (max-width: 1200px) {
    .second-section img {
      width: -webkit-fill-available; } }
  @media only screen and (min-width: 1200px) {
    .second-section img {
      width: -webkit-fill-available; } }
.second-section .box {
  position: relative;
  display: inline-block;
  justify-content: center; }
  .second-section .box .text {
    background-color: #3f2889;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 80%;
    /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 80%;
    /* Set the width of the positioned div */ }
    @media only screen and (max-width: 992px) {
      .second-section .box .text {
        width: 60%; } }
    .second-section .box .text h4 {
      font-size: 20px;
      color: #fff; }
      @media only screen and (max-width: 768px) {
        .second-section .box .text h4 {
          font-size: 16px; } }

.third h2 {
  color: #4e018f; }
  @media only screen and (max-width: 320px) {
    .third h2 {
      font-size: 20px; } }
  @media only screen and (max-width: 576px) {
    .third h2 {
      font-size: 20px; } }
.third .about {
  padding: 20px;
  background-color: #5c63b0;
  color: #fff; }
  .third .about h2 {
    color: #fff; }
  .third .about p {
    font-size: 14px; }

.fourth h2 {
  color: #4e018f; }
  @media only screen and (max-width: 320px) {
    .fourth h2 {
      font-size: 20px; } }
  @media only screen and (max-width: 576px) {
    .fourth h2 {
      font-size: 20px; } }

.program {
  padding: 20px;
  background-color: #5c63b0;
  color: #fff; }
  .program h2 {
    color: #fff; }
    @media only screen and (max-width: 320px) {
      .program h2 {
        font-size: 20px; } }
    @media only screen and (max-width: 576px) {
      .program h2 {
        font-size: 20px; } }
  .program p {
    font-size: 14px; }

.fifth h2 {
  color: #4e018f; }
  @media only screen and (max-width: 320px) {
    .fifth h2 {
      font-size: 20px; } }
  @media only screen and (max-width: 576px) {
    .fifth h2 {
      font-size: 20px; } }
.fifth .elig {
  padding: 20px;
  background-color: #5c63b0;
  color: #fff; }
  .fifth .elig h2 {
    color: #fff; }
  .fifth .elig p {
    font-size: 14px; }

.sixth h2 {
  color: #4e018f; }
  @media only screen and (max-width: 320px) {
    .sixth h2 {
      font-size: 20px; } }
  @media only screen and (max-width: 576px) {
    .sixth h2 {
      font-size: 20px; } }

.who {
  padding: 20px;
  background-color: #5c63b0;
  color: #fff; }
  .who p {
    font-size: 14px;
    color: #fff; }
  .who ul li {
    font-size: 14px;
    color: #fff; }

.seventh h2 {
  color: #4e018f; }
  @media only screen and (max-width: 320px) {
    .seventh h2 {
      font-size: 20px; } }
  @media only screen and (max-width: 576px) {
    .seventh h2 {
      font-size: 20px; } }
.seventh .addmission {
  padding: 20px;
  background-color: #5c63b0;
  color: #fff; }
  .seventh .addmission h2 {
    color: #fff; }
  .seventh .addmission p {
    font-size: 14px; }
  .seventh .addmission a {
    color: yellow; }
  .seventh .addmission ul li {
    font-size: 14px; }

.team img {
  max-width: 100%; }
.team .title {
  color: #4e018f; }
.team .job {
  background-color: #3f2889;
  color: #fff;
  justify-content: center;
  text-align: center; }
  .team .job h1 {
    font-size: 65px; }
    @media only screen and (max-width: 320px) {
      .team .job h1 {
        font-size: 40px; } }
    @media only screen and (max-width: 576px) {
      .team .job h1 {
        font-size: 30px; } }
  .team .job h4 {
    font-size: 35px; }
  .team .job h2 {
    font-size: 30px; }

.feedback h2 {
  color: #4e018f; }
.feedback .form-group input {
  max-width: 65%; }
  @media only screen and (max-width: 320px) {
    .feedback .form-group input {
      max-width: 100%; } }
  @media only screen and (max-width: 576px) {
    .feedback .form-group input {
      max-width: 100%; } }
.feedback .form-group .btn-main {
  color: #fff;
  background-color: #4e018f; }

.contact {
  background-color: #3f2889;
  padding: 10px; }
  .contact h2 {
    text-align: center;
    color: #fff; }
  .contact p {
    font-size: 20px;
    color: #fff; }
    .contact p .fa {
      text-align: center;
      font-size: 60px;
      color: #fff; }
  .contact a {
    color: #fff; }

.eighth h2 {
  color: #4e018f; }
  @media only screen and (max-width: 320px) {
    .eighth h2 {
      font-size: 20px; } }
  @media only screen and (max-width: 576px) {
    .eighth h2 {
      font-size: 20px; } }
.eighth .semester {
  padding: 20px;
  background-color: #5c63b0;
  color: #fff; }
  .eighth .semester h2 {
    color: #fff; }
  .eighth .semester p {
    font-size: 14px; }

#myFooter {
  background-color: #4e018f;
  padding: 20px;
  color: white; }

.logo img {
  max-width: 100%; }

a {
  color: #fff; }

/*# sourceMappingURL=style.css.map */
